<p class='about-text'>
  This project was born from a conversation with my pal <%= link_to("cygnaut", "http://archiveofourown.org/users/cygnaut/pseuds/cygnaut") %>, after she lamented the fuss involved with properly marking up submissions to <%= link_to("Archive of Our  Own", "http://archiveofourown.org") %>. Presently I attend <%= link_to("Ada Developers Academy", "http://adadevelopersacademy.org/") %> and for our ‘springier break’ we were assigned the task of making a thing with a scope of about 10-15 hours of work. I decided that the Fandom Formatter would stop being an idea and start being a reality for use by anyone that might find it useful. 
</p>
<p class='about-text'>
  I do not store your works and will not steal them. I don’t have time for that flavor of nonsense.
</p>
<p class='about-text'>
  Maybe you are wondering why I ask that you log into Google before using the formatter? I am working on integrating the formatter directly with Google Drive, in the hope that you can directly select your work, convert it, then choose to save it to your drive or do something else that is both shiny and chrome. For now, all it can do is log you in and display your awesome icon, but this will be a thing for Future Jade to tackle when the timeline is not so narrow. 
</p>
<p class='about-text'>
  Disclaimer: I am in no way affiliated with AO3. I’m just <%= link_to("this lady", "https://github.com/jadevance") %> who is learning how to code. I like coffee, cheese and making fun of my very silly cat. All of the code for this project it <%= link_to("available here", "https://github.com/jadevance/Fandom-Formatter") %>, but the majority of the heavy lifting is done by the fantastic ruby gem <%= link_to("RedCarpet", "https://github.com/vmg/redcarpet") %>. 
</p>