<!DOCTYPE html>
<html>
<head>
  <title>FandomFormatter</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<main class="container">
  <div class="spotify-banner">
    <%= link_to("#{ current_user.name }", "https://plus.google.com/#{current_user.uid}/posts") if current_user %>
  </div>
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
    <% if current_user %>
      <li>Signed in as <strong><%= current_user.name %></strong>!</li>
      <%= link_to "Sign out", signout_path, id: "sign_out" %>
    <% else %>
      <li><%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %></li>
    <% end %>
    </ul>
  </nav>
  <%= yield %>
</main>

</body>
</html>